<div id="container">
    <app-informative-panel id="informative-panel"></app-informative-panel>
    <div id="middle-container">
        <div id="play-area-container">
            <app-play-area id="game-board" tabindex="0"></app-play-area>
        </div>
        <div id="letter-rack-area-container">
            <app-letter-rack-area id="letter-rack"></app-letter-rack-area>
        </div>
    </div>
    <app-communication-box id="communication-box"></app-communication-box>
</div>
<app-database-error></app-database-error>
<app-player-disconnection></app-player-disconnection>
