#row-content {
    display: flex;
    flex-wrap: nowrap;
    min-height: 3vh;
    margin: 1.5vh 0;
}

#row-margin {
    margin: 0;
    border: 0.1vh solid lightgray;
}

.icon-handler,
.icon-size {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.icon-handler {
    width: 5vw;
}

.text-container {
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.input-container {
    width: 25vw;
    max-height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title,
#description {
    width: 20vw;
    overflow-x: hidden;
    height: 3vh;
    font-size: 1.7vh;
    background-color: transparent;
    border: none;
    text-align: center;
    outline: none;
}

.icon-size {
    font-size: 3vh;
    cursor: pointer;
}

.icon-edit {
    margin: 0 0.5vh;
}

.editable-border {
    outline: 0.275vh solid !important;
    outline-color: rgb(24, 156, 201) !important;
}

/***********************/
/* PLAYER NAME CONTENT */
/***********************/
.validation-container {
    display: none;
    min-height: 0;
}

#name-validation {
    display: flex;
    flex-wrap: nowrap;
}

#valid-name,
#invalid-name,
#identical-name {
    text-align: center;
}

#valid-name,
#valid-first-character,
#valid-length,
#valid-letter-number,
#invalid-name,
#identical-name,
#invalid-first-character,
#invalid-length,
#invalid-letter-number {
    font-size: 1.5vh;
    margin: 0.5vh 0;
}

/************************/
/* PLAYER NAME VALIDITY */
/************************/
#criteria-container {
    width: 20vw;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

#criteria-valid-name {
    width: 17.5vw;
    line-height: 110%;
}

#space-after {
    width: 7vw;
}

.center-text {
    display: flex;
    justify-content: center;
    font-size: 1.5vh;
    line-height: 200%;
    color: black;
}

#invalid-name,
#identical-name #invalid-first-character,
#invalid-length,
#invalid-letter-number,
#valid-name {
    font-size: 1.5vh;
    text-align: left;
    margin-bottom: 0.25vh;
}

#invalid-name,
#identical-name,
#invalid-first-character,
#invalid-length,
#invalid-letter-number {
    color: red;
}

#valid-name,
#valid-first-character,
#valid-length,
#valid-letter-number {
    color: rgb(2, 163, 2);
}

#edit:hover {
    color: rgb(0, 0, 211);
}

#download:hover {
    color: green;
}

#delete:hover {
    color: rgb(201, 0, 0);
}
