<div>
    <div id="title">Réinitialiser les données</div>
    <div id="page-content">
        <div>
            <div>
                <p>Cette action permet de :</p>
                <p class="margin-setter">- Supprimer tous les dictionnaires sauf le dictionnaire par défaut</p>
                <p class="margin-setter">- Supprimer tous les noms des joueurs virtuels sauf les noms par défaut</p>
                <p class="margin-setter">- Remettre les valeurs initiales dans le tableau des meilleurs scores</p>
            </div>
            <div id="reset-container">
                <button id="reset-button" (click)="openDialog()">Réinitialiser</button>
            </div>
        </div>
    </div>
</div>
